/* Custom overrides for Global Leaflet CSS. */
.leaflet-container {
	height: 100vh;
	width: 100%;
	margin: 0 auto;
}

.leaflet-control-container {
    top: 1rem;
    position: relative;
}

.leaflet-container a.leaflet-popup-close-button {
	top: 0.45rem;
	right: 0.5rem;
}
